.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  height: 200px;
}

.card-img-me {
  position: absolute;
  padding: 0.25rem;
  right: 0 !important;
  bottom: 0 !important;
  background: #000;
  opacity: 0.7;
  color: #fff;
}

.img {
  width: 300px;
  height: 200px;
}
