<div *ngIf="items.length > 0" class="movies mb-5">
  <div *ngFor="let movie of items | withimages | slice:0:6" class="movie card cursor" (click)="viewMovie(movie)">
    <img class="card-img img" [src]="movie.backdrop_path | noimage" alt="{{ movie.title }}">
    <div class="card-img-me">
      <h5>{{ movie.title }}</h5>
    </div>
  </div>
</div>
