<div class="jumbotron">
  <div class="container">
    <h1>MoviesApp</h1>
    <p>Web sobre información de películas.</p>
  </div>
</div>
<div class="container">
  <h1>Películas en cartelera</h1>
  <app-moviecard [items]="billboardMovies"></app-moviecard>

  <h1>Películas populares</h1>
  <app-moviecard [items]="popularsMovies"></app-moviecard>

  <h1>Películas populares para niños</h1>
  <app-moviecard [items]="popularsKidsMovies"></app-moviecard>
</div>
