<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['home']">
    <img src="assets/img/moviesapp.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="title-app">MoviesApp</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" [routerLink]="['home']" [routerLinkActive]="'active'">Home</a>
      <a class="nav-item nav-link" [routerLink]="['search']" [routerLinkActive]="'active'">Buscar</a>
    </div>

    <form class="form-inline my-2 my-lg-0" (ngSubmit)="searchMovie(search.value)">
      <input type="text" class="form-control mr-sm-2" placeholder="Buscar" #search>
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
    </form>
  </div>
</nav>
