<div class="container mt-4" *ngIf="movie">
  <h1>{{ movie.title }}</h1>
  <div class="row">
    <div class="col-md-6">
      <img class="img-thumbnail" [src]="movie.poster_path" [alt]="movie.title" />
    </div>
    <div class="col-md-6">
      <h3>Sinopsis</h3>
      <hr>
      <p>
        {{ movie.overview }}
      </p>
      <h5 *ngIf="movie.tagline">
        Frase celebre
      </h5>
      <p *ngIf="movie.tagline">
        {{ movie.tagline }}
      </p>
      <p class="votes">Popularidad: <span class="badge badge-primary">{{ movie.popularity | number: '.0-0' }}/10</span></p>
      <p class="votes">Voto promedio: <span class="badge badge-primary">{{ movie.vote_average }}</span></p>
      <button type="button" class="btn btn-outline-danger" (click)="back()">
        Volver
      </button>
    </div>
  </div>
</div>
