<div class="container main-container mt-5">
  <input type="text" class="form-control" placeholder="Buscar película..." (keyup)="search($event)" *ngIf="showSearch">
  <div class="card-columns mt-3" *ngIf="movies.length > 0">
    <div class="card" *ngFor="let movie of movies">
      <img class="card-img-top" [src]="movie.backdrop_path | noimage" alt="{{ movie.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">
          {{ movie.overview | slice:0:200 }}...
        </p>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="viewMoview(movie.id)">Ver más...</button>
      </div>
    </div>
  </div>
</div>
